/*==== ROOT CONFIG ====*/
:root {
    --hue-color: 180;
    --brand: hsl(var(--hue-color), 100%, 26%);
    --brand-light: hsl(calc(var(--hue-color) - 22), 23%, 89%);
    --brand-light-02: hsl(calc(var(--hue-color) + 10), 14%, 97%);
    --brand-beige: hsl(calc(var(--hue-color) - 131), 100%, 97%);
    ;
    --brand-hover: hsl(var(--hue-color), 100%, 14%);

    --gray-headline: hsl(calc(var(--hue-color) + 40), 11%, 15%);
    --gray-paragraph: hsl(calc(var(--hue-color) + 40), 9%, 31%);
    --white: hsl(0, 0%, 93%);

    --regular: 400;
    --bold: 700;

    --scroll-bar-bg: hsl(var(--hue-color), 10%, 80%);
}

/*==== GLOBAL ====*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--brand-light-02);
}

a {
    text-decoration: none;
}

/*====NAV====*/
.nav-container {
    align-items: center;
    justify-content: space-around;
    background-color: var(--brand);
    text-align: center;
    z-index: 999;
    padding: 0 1.5rem;
}

.nav-logo {
    font-size: 1.5rem;
    color: var(--white);
    letter-spacing: 0.05rem;
    font-weight: var(--regular);
}

.nav-logo b {
    font-weight: var(--bold);
}

.nav-links {
    display: grid;
    gap: 1.5rem;
    text-align: center;
}

.nav-link {
    color: var(--white);
    padding: 0.5rem 0;
    transition: 0.3s;
    text-align: center;
    font-weight: regular;
    font-size: 1.5rem;
}

.nav-link:hover {
    font-size: 2rem;
}

/*==== MAIN ====*/
main {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 87.5vw;
}

/*==== GLOBAL MAIN ====*/
section {
    height: 100%;
    scroll-snap-align: start;
    display: grid;
}

.wrapper {
    padding: 0 8.25rem;
}

/*==== HOME ====*/
#home {
    background-color: var(--brand-light);
}

.wrapper-home {
    display: flex;
    align-items: center;
}

.wrapper-home div {
    width: 50%;
}

.home-informations {
    display: grid;
    gap: 1.5rem;
}

.home-title {
    font-size: 0.875rem;
    color: var(--brand);
    font-weight: var(--bold);
}

.home-subtitle {
    font-size: 3rem;
    color: var(--gray-headline);
}

.home-text {
    font-size: 1rem;
    color: var(--gray-paragraph);
}

.home-link {
    width: max-content;
    background-color: var(--brand);
    color: var(--white);
    padding: 1rem 1.5rem;
    border-radius: 5rem;
    font-weight: var(--bold);
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.home-link:hover {
    background-color: var(--brand-hover)
}

.home-link-icon {
    margin-right: 1rem;
    font-size: 1.5rem;
}

.home-img-div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.home-img {
    width: 25rem;
}

.home-stats {
    background-color: var(--brand-beige);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.home-stats-title {
    font-size: 3rem;
    font-weight: var(--bold);
    color: var(--gray-headline);
}

.home-stats-description {
    font-size: 1.25rem;
    color: var(--brand);
    font-weight: var(--regular);
}

.separator {
    width: 1px;
    background-color: var(--brand);
    height: 2rem;
}

/*==== ABOUT ====*/

/*==== SERVICES ====*/

/*==== PROFESSIONALS ====*/

/*==== TESTIMONIAL ====*/

/*==== SCROLLBAR ====*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--scroll-bar-bg);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(34, 37, 42, 0.4);
    border: 3px solid var(--scroll-bar-bg);
    border-radius: 10px;
}

/*RESPONSIVENESS*/
@media screen and (max-width: 1100px) {
    .nav-container {
        display: flex;
        width: 100%;
        left: 0;
        height: 10vh;
    }

    .nav-logo {
        font-size: 1.25rem;
    }

    .nav-links {
        display: flex;
    }

    .nav-link {
        font-size: 1.25rem;
    }

    main {
        height: 90vh;
        width: 100vw;
    }

    .home-subtitle {
        font-size: 2rem;
    }

    .home-img {
        width: 20rem;
    }
}

@media screen and (min-width: 1101px) {
    .nav-container {
        position: fixed;
        display: grid;
        right: 0;
        height: 100vh;
        width: 12.5vw;
    }
}

/*Large Devices*/
@media screen and (max-width: 1024px) {
    .home-img {
        width: 22.5rem;
    }

    .home-subtitle {
        font-size: 2rem;
    }

    .home-stats-title {
        font-size: 2.5rem;
    }

    .home-stats-description {
        font-size: 1rem;
    }
}

@media screen and (max-width: 904px) {
    .wrapper {
        padding: 0 6.5rem;
    }

    .home-subtitle {
        font-size: 1.85rem;
    }
}

/*Medium Devices*/
@media screen and (max-width: 864px) {
    .wrapper {
        padding: 0 5rem;
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        padding: 0 3.5rem;
    }

    .home-img {
        width: 20rem;
    }
}

@media screen and (max-width: 712px) {
    .home-subtitle {
        font-size: 1.5rem;
    }

    .home-img {
        width: 18.5rem;
    }
}

@media screen and (max-width: 688px) {
    .home-img {
        width: 15rem;
    }
}

@media screen and (max-width: 600px) {
    .nav-logo {
        font-size: 1rem;
    }

    .nav-link {
        font-size: 1rem;
    }

    .nav-link:hover {
        font-size: 1.5rem;
    }

    main {
        scroll-snap-type: none;
        overflow-y: none;
    }

    section {
        height: max-content;
        padding-top: 2.5rem;
    }

    .wrapper-home {
        display: grid;
        gap: 1.5rem;
    }

    .wrapper-home div {
        width: 100%;
    }

    .home-img {
        width: 20rem;
    }

    .home-stats {
        display: none;
    }
}

/*Small Devices*/
@media screen and (max-width: 521px) {

    .home-img {
        width: 18.5rem;
    }
}

@media screen and (max-width: 479px) {
    .wrapper {
        padding: 0 2rem;
    }

    .home-img {
        width: 17.5rem;
    }
}

@media screen and (max-width: 353px) {
    .wrapper {
        padding: 0 1rem;
    }

    .home-img {
        width: 15rem;
    }
}